<form action="/cadastro" method="POST">
        CPF<input type="text" name="cpf"><br>
        Nome<input type="text" name="nome"><br>
        Email<input type="text" name="email"><br>
        Senha<input type="password" name="senha"><br>
        Matricula<input type="text" name="matricula"><br>
        <input type="submit" value="Enviar">
    </form> 